.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  
  #menu-deroulant {
    z-index: 2000;
    color: white;
  }

body
{
    background-image: url("images/trees.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;;
    
}


h1 {
    text-align: center;
  }

#blur-title-zone {
    text-align: center;
    margin-top: 50px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    color: white;
    font-family: libre-baskerville-regular;
    
  }


footer {
    text-align: center;
    margin-top: 30px;
}

